<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/base :: head"></head>
<body>
<div class="wrapper">
    <div th:replace="common/base :: navbar(${funName})"></div>
    <div class="main-panel">
        <nav th:replace="common/base :: topNavbar"></nav>
        <div class="content">
            <div class="container-fluid">
                <div class="col-md-5">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Article Detail</h4>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-11 pr-1">
                                    <div th:if="${article.urlToImage != null}">
                                        <img th:src="${article.urlToImage}" width="300" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-11 pr-1">
                                    <label>Source</label>
                                    <p th:text="${source.name} != null? ${source.name} : 'source name is unavailable'"></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-11 pr-1">
                                    <label>Title</label>
                                    <p th:text="${article.title} != null? ${article.title} : 'Title is unavailable'"></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-11 pr-1">
                                    <label>Description</label>
                                    <p th:text="${article.description} != null? ${article.description} : 'Description is unavailable'"></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-11 pr-1">
                                    <label>Origin Page</label>
                                    <p th:text="${article.url} != null? ${article.url} : 'Origin page is unavailable'"></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-11 pr-1">
                                    <label>Published At</label>
                                    <p th:text="${article.publishedAt} != null? ${article.publishedAt} : 'Published Time is unavailable'"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="common/base :: jslinks"></div>
</body>
</html>